<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Management</title>
    <!-- Add your CSS stylesheets or link to external stylesheets here -->
    <link rel="stylesheet" href="/CSS/product.css">
</head>
<body>
<div class="head">
<h1>Product</h1>
</div>
<div class="container">
   <a href="/AdminHome/product_category">ADD Product</a>
   <a href="/AdminHome/Productlist">Product List</a>
   <center><a href="/AdminHome">Admin Home</a></center>
</div>
</body>
</html>
