<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/CSS/style.css">
  <title>Signup Page</title>
</head>
<body>
  <div class="background"></div>
  <div class="container">
    
    <form id="inp"  action="/signup" method="post" onsubmit="return checksign()">


     <!-- <label for="username">Username</label> -->
     <input type="text" name="username" id="" placeholder="Username">


     <!-- <label for="password">Password</label> -->
     <input type="email" name="email" id="" placeholder="Email">


     <input type="password" name="password" id="pass" placeholder="Password">


     <p id="show" style="color: red ;display: none; font-size: 12px;">The Entered Password is Incorrect <br>
    TRY(Uppercase,LowerCase,Number,SpecialKey)</p>

    <input type="password"  id="conpass" placeholder="Confirmation Password">

    <p id="show2" style="color: red ;display: none; font-size: 12px;">The password is not Matching</p>

      <button style="margin-top: 50px;width: 100px; background-color: transparent; border: none; " type="submit">Submit</button>


    </form>
  </div>
</body>
<script src="/JS/signupvalidationinejs.js"></script>
</html>
