<!-- userviewproduct.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User View Product</title>
  </head>
  <style>
    body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      font-family: Arial, sans-serif;
    }

    div {
      box-sizing: border-box;
    }

    #main-container {
      width: max-content;
    }

    #size,
    #fabric {
      display: flex;
      gap: 20px;
      font-size: larger;
      font-weight: 600;
    }

    .color-box {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-weight: bold;
    }
  </style>
  <body
    style="
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
    "
  >
    <div style="width: max-content">
      <h1 id="heading"></h1>
      <img id="mainimg" style="width: 400px; height: 400px;" src="" alt="" />

      <p id="mainprice"></p>
    </div>
    <div
      style="
        height: 100vh;
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
      "
    >
      <div style="display: flex; gap: 20px" id="colorDiv"></div>

      <div style="display: flex; gap: 20px" id="size"></div>

      <div style="display: flex; gap: 20px" id="fabric"></div>

      <button style="margin: 10px 0px;" onclick="handleSubmit()">Change Price</button style="margin: 10px;">
      <button id="addToCartButton"></button>
    </div>

    <script>
      const productId = "<%= proid %>";
      // let originURL = 'http://localhost'
      let originURL = 'http://16.171.197.202';

      let result = {};  
      //fetchin the data from backend
      fetch(`${originURL}:4500/findsubproduct/${productId}`)
        .then((response) => {
          return response.json();
        })
        .then((data) => {
          document.getElementById("heading").innerText = data[0].title;
          document.getElementById(
            "mainprice"
          ).innerText = `price :${data[0].categoryProducts[0].mrp}`;
          if(data[0].categoryProducts[0].stock > 0){
                document.getElementById("addToCartButton").innerHTML = "Add To Cart"
            }else{
                document.getElementById("addToCartButton").innerHTML = "Out of stock !"
            }
          const img = document.getElementById("mainimg");
          img.src = data[0].categoryProducts[0].img;
          let count = 0;
          data[0].categoryProducts.forEach((element, colorIndex) => {
            // if the color is already presented in the object
            if (result[element.color]) {
              result[element.color]["sizes"].push(element.size);
              result[element.color]["febrics"].push(element.febric);
            } else {
              result[element.color] = {
                sizes: [element.size],
                febrics: [element.febric],
                image: element.img,
              };  
        
                const colorDiv = document.createElement("div");
              colorDiv.setAttribute("id", element.color);
              colorDiv.setAttribute(
                "onclick",
                `handleColorDivClick("color",this.id)`
              );
              if(colorIndex === 0){

                colorDiv.style.border = "4px solid black";
                colorDiv.setAttribute("class", "selected");
              }

              colorDiv.style.backgroundColor = element.color;
              colorDiv.style.width = "50px";
              colorDiv.style.height = "50px";

              //   colorDiv.innerHT;

              //   -----------------
              // Append the div to the parent container with id 'colorDiv'
              document.getElementById("colorDiv").appendChild(colorDiv);
            }
          });

          let element = data[0].categoryProducts[0]


                // sizeDiv.innerHTML = element.color[0].sizes;
                const sizeElement = document.getElementById("size");

                sizeElement.innerHTML = "";

                result[element.color]["sizes"].forEach((size, index) => {
                  const sizeDiv = document.createElement("div");
                  sizeDiv.innerText = size;
                  sizeDiv.setAttribute("id", `size-${element.color}-${index}`);
                  sizeDiv.setAttribute(
                    "onclick",
                    `handleColorDivClick("size",this.id)`
                  );
                  sizeElement.appendChild(sizeDiv);

                  if (index === 0) {
                    sizeDiv.style.border = "2px solid black";
                    sizeDiv.style.padding = "4px";
                    sizeDiv.style.borderRadius = "999px";
                    sizeDiv.setAttribute("class", "selected");
                  }
                });

                const fabricElement = document.getElementById("fabric");

                fabricElement.innerHTML = "";
                result[element.color]["febrics"].forEach((fabric, index) => {
                  const fabricDiv = document.createElement("div");
                  fabricDiv.innerText = fabric;
                  fabricDiv.setAttribute(
                    "id",
                    `fabric-${element.color}-${index}`
                  );
                  fabricDiv.setAttribute(
                    "onclick",
                    `handleColorDivClick("fabric",this.id)`
                  );
                  fabricElement.appendChild(fabricDiv);
                  if (index === 0) {
                    fabricDiv.style.border = "2px solid black";
                    fabricDiv.style.padding = "4px";
                    fabricDiv.style.borderRadius = "20px";
                    fabricDiv.setAttribute("class", "selected");
                  }
                });
              
             
          

          const sizeDiv = document.createElement("div");

          sizeDiv.style.width = "50px";
          sizeDiv.style.height = "50px";
          data[0].categoryProducts[0].mrp;
        })

        .catch((error) => {
          console.error("Error fetching data:", error);
        });

      function handleColorDivClick(type, elementId) {
        if (type === "color") {
          const colorDiv = document.getElementById("colorDiv");
          if (colorDiv) {
            // Iterate over child elements and remove border
            const childElements = colorDiv.children;

            for (let i = 0; i < childElements.length; i++) {
              const childElement = childElements[i];

              childElement.style.border = "none";
              childElement.classList.remove("selected");
            }
          }
          const newSelectedColorDiv = document.getElementById(elementId);
          newSelectedColorDiv.style.border = "4px solid black";
          newSelectedColorDiv.setAttribute("class", "selected");

        //   Change Price
        document.getElementById(
            "mainprice"
          ).innerHTML = ""

          //   __________________________________________

          const sizeElement = document.getElementById("size");

          sizeElement.innerHTML = "";

          result[elementId]["sizes"].forEach((size, index) => {
            const sizeDiv = document.createElement("div");
            sizeDiv.innerText = size;
            sizeDiv.setAttribute("id", `size-${elementId}-${index}`);
            sizeDiv.setAttribute(
              "onclick",
              `handleColorDivClick("size",this.id)`
            );
            sizeElement.appendChild(sizeDiv);

            if (index === 0) {
              sizeDiv.style.border = "2px solid black";
              sizeDiv.style.padding = "4px";
              sizeDiv.style.borderRadius = "999px";
              sizeDiv.setAttribute("class", "selected");
            }
          });

          const fabricElement = document.getElementById("fabric");

          fabricElement.innerHTML = "";
          result[elementId]["febrics"].forEach((fabric, index) => {
            const fabricDiv = document.createElement("div");
            fabricDiv.innerText = fabric;
            fabricDiv.setAttribute("id", `fabric-${elementId}-${index}`);
            fabricDiv.setAttribute(
              "onclick",
              `handleColorDivClick("fabric",this.id)`
            );
            fabricElement.appendChild(fabricDiv);
            if (index === 0) {
              fabricDiv.style.border = "2px solid black";
              fabricDiv.style.padding = "4px";
              fabricDiv.style.borderRadius = "20px";
              fabricDiv.setAttribute("class", "selected");
            }
          });
          // _______________________________________________
        } else if (type === "size") {
          const sizeDiv = document.getElementById("size");

          if (sizeDiv) {
            // Iterate over child elements and remove border
            const childElements = sizeDiv.children;

            for (let i = 0; i < childElements.length; i++) {
              const childElement = childElements[i];

              childElement.style.border = "none";
              childElement.classList.remove("selected");
            }
          }
          const selectedDiv = document.getElementById(elementId);
          selectedDiv.style.border = "2px solid black";
          selectedDiv.style.padding = "4px";
          selectedDiv.style.borderRadius = "999px";
          selectedDiv.setAttribute("class", "selected");

        } else if (type === "fabric") {
          const fabricDiv = document.getElementById("fabric");

          if (fabricDiv) {
            // Iterate over child elements and remove border
            const childElements = fabricDiv.children;

            for (let i = 0; i < childElements.length; i++) {
              const childElement = childElements[i];

              childElement.style.border = "none";
              childElement.classList.remove("selected");
            }
          }
          const selectedDiv = document.getElementById(elementId);
          selectedDiv.style.border = "2px solid black";
          selectedDiv.style.padding = "4px";
          selectedDiv.style.borderRadius = "20px";
          selectedDiv.setAttribute("class", "selected");

        }
      }

      function handleSubmit() {
        const elements = document.getElementsByClassName("selected");
        const selectedArray = Array.from(elements);
        let color = selectedArray[0].id;
        let size = selectedArray[1].innerHTML;
        let fabric = selectedArray[2].innerHTML;
        color = color.substring(1)
        fetch(`${originURL}:4500/findSelectProduct/${productId}/${color}/${size}/${fabric}`)
        .then(response => response.json())
        .then(data=> {
            document.getElementById("mainprice").innerHTML = "price: "+data.response.mrp
            if(data.response.stock > 0){
                document.getElementById("addToCartButton").innerHTML = "Add To Cart"
            }else{
                document.getElementById("addToCartButton").innerHTML = "Out of stock !"
            }
        })
        .catch(error => console.log(error))
        
      }
    </script>
  </body>
</html>
