body {
  margin: 0;
  overflow: hidden;
}

.background {
  position: absolute;
  width: 100%; /* Set it back to 100% */
  height: 100%;
  background: linear-gradient(to right, #A9F1DF, #FFBBBB);
    background-size: 400% 100%; /* Four color stops, each taking 25% of the width */
  animation: none; /* Disable the animation */
}

.container {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

#inp{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10%;
  background-color: white;
  gap: 10px;
}
input{
  padding: 10px;
  border-radius: 999px;
  border: none;
  background-color: transparent;
  color: black;
  outline: none;
}
/* #show{
  color: red;
  font-size: 12px;
  display: none;
} */
::placeholder{
  color: black;
}

#submit{
  margin-top: 50px;
  width: 100px; 
  background-color: transparent; 
  border: none; 
  background-color: #A9F1DF;
  padding: 3px;
  border-radius: 999px;
  cursor: pointer;
}
@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
